/*font for menu */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@800&display=swap');
/* font-family: 'Big Shoulders Stencil Display', cursive; */

/*font for content*/
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
/* font-family: 'Yanone Kaffeesatz', sans-serif; */

*{
    font-size: 18px;
}

.bigShoulders{
    font-family: 'Big Shoulders Stencil Display', cursive;
}

.yanone{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#nav ul li, #nav_new ul li {
    font-family: 'Big Shoulders Stencil Display', cursive;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight:800;
}

p, span {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.body-text > p, p.body-text{
    font-size: 1.4rem;
}
