*{
    margin:0; padding:0; box-sizing:border-box;
}

body {
    letter-spacing: 1px;
}

a:hover {
    text-decoration: none;
    color: rgba(243, 209, 16, 0.849);
}

#menu, #menu_new {
    display: flex;
    z-index:+999;
}

.logo {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 1rem;
}

#menu_new .logo{
    flex-direction: row;
}

.logo span {
    color: white;
    background-color: rgba(32, 31, 11, 0.589);
    border-radius: 20px;
    padding: 0.1rem 0.8rem;
    margin: 0.3rem;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
}

.follow {
    display: flex;
    justify-content: space-evenly;
}

.follow a {
    margin: 0 0.2rem;
    padding: 0.3rem;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.follow a:hover {
    color: rgba(243, 209, 16, 0.849);
}

#nav ul, #nav_new ul {
    list-style: none;
    background-color:rgba(32, 31, 11, 0.589);
    
}

#nav ul li a, #nav_new ul li a {
    color: white;
    text-transform: uppercase;
}

#nav ul li a:hover, #nav_new ul li a:hover {
    color: rgba(243, 209, 16, 0.849);
}

@media screen and (max-width:391px) {
    .logoText {
        display: none;
    }
   
}

@media screen and (max-width:490px) {
    .mobileNavbar span {
        font-size: 0.9rem;
    }
    #mobileLogo {
        height: 2rem;
        width: 2rem;
    }
}

@media screen and (max-width:769px) {
    #header_image figcaption{
        color: white;
        font-family: 'Big Shoulders Stencil Display', cursive;
        font-size: 2rem;
        background-color:rgba(0, 0, 0, 0.847);
        padding: 1rem;
    }
    .logo {
        margin-bottom: 2rem;
    }
    .logo img {
        height: 5rem;
        width: 7rem;
    }
    .follow {
        margin: 0.7rem 0;
    }

    #menu {
        position:absolute;
        top:0;
        margin: 1rem;
        padding: 1rem;
    }
    #menu, #menu_new {
        display: none;
        background-color: rgba(190, 189, 178, 0.939);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    #menu_new {
        margin: 0; padding: 0;
        position:relative;
    }

    .mobileNavbar {
        padding: 0.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: rgb(2, 0, 36);
    }
    .mobileNavbar span {
        font-size: 1.2rem;
        font-weight: 200;
        color: black;
        background-color: rgba(190, 189, 178, 0.849);
        border-radius: 20px;
        padding: 0.1rem 0.8rem;
        margin: 0.3rem;
        text-transform: uppercase;
    }
    #mobileLogo {
        height: 4rem;
        width: 4rem;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 10px;
    }
    #mobileNavCross {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        color: white;
    }
    #hamburgerButton {
        color: white;
    }
    .displayBlock {
        display: block !important;
    }
    #nav ul, #nav_new ul {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
    }
}

@media screen and (min-width:769px) {
    #header_image_id{
    position:relative;
}
#header_image_id img{
    width: 100%;
    max-width: 100%;
    max-height: 50vh;
    object-fit:cover;
}

#header_image figcaption{
    position:absolute;
    top: 50%;
    left: 50%;
    z-index: +9;
    color: white;
    font-family: 'Big Shoulders Stencil Display', cursive;

    font-size: 3rem;
    transform: translate(-50%, -30%);
    background-color:black;
    padding: 1rem;
}
    #menu{
        position: absolute;
    }
    #menu_new{
        position:relative;
        background-color:black;
    }
    #menu, #menu_new {
        justify-content: space-around;
        align-items: center;
        justify-items: center;
    }
    .logo img {
        height: 5rem;
        width: 7rem;
        background-color: rgba(255, 255, 255, 0.583);
        border-radius: 10px;
    }
    .logo span {
        font-size: 1.5rem;
    }
    #nav ul, #nav_new ul {
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }
    #nav ul li, #nav_new ul li {
        padding: 0.6rem 0.5rem;
    }
    #nav ul li a, #nav_new ul li a  {
        font-size: 1.4rem;
        margin: 0rem 0.5rem;
        padding: 0 0.8rem;
    }    
    #nav .menu-primary-container ul > li > ul {
        position:absolute;
        top: 6rem;
    }
    #nav_new .menu-primary-container ul > li > ul {
        position:absolute;
        top: 4rem;
    }

    
    /* submenu */
    #menu-primary > li > ul > li > ul{
        position:absolute;
        left: 10rem;
        top:0;
    }
    #mobileNavCross {
        display: none;
    }
    .mobileNavbar {
        display: none;
    }
}


/* end of media query */
/*footer styling*/
#footer{
    background-color:rgb(19, 19, 6);
    padding: 1rem;
    text-align:center;
    color:white;
    text-transform:uppercase;
    letter-spacing:2px;
}
#footer span{
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 2rem;
}

/* modifying visibility on hover submenus  */
#nav ul li > ul, #nav_new ul li > ul {
    display:none;
}
#nav ul li:hover > ul, #nav_new ul li:hover > ul{
    display:block;
    z-index:+9;
}



/* styling for 404 page */
.image-container{
    position:relative;
    text-align:center;
}

.image-container img{
    width:100%;
    height: 80vh;
    object-fit:cover;
}

.image-container h2{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 5rem;
    background-color:rgba(53, 53, 22, 0.815);
    width: 80%;
}

.image-container p {
    position:absolute;
    font-size: 2rem;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(37, 24, 24);
    background-color:rgb(221, 221, 204);
    width: 80%;
}



/* breadcrumbs */
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb a {
    color: #428bca;
    text-decoration: none;
}


/* homepage styling gallery */
.title_and_description{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.section_title h2{
    font-size: 4rem;
}

.section_description p {
    text-align:center;
    font-weight: 400;
}


/*responsive navigation */
#header_new{
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: +9;
}

/*styling section-gallery*/
.section-gallery, .section-podcasts{
    background-color: rgb(243, 209, 16);
}

.section-blogs, .section-videos{
    background-color: rgba(0, 255, 55, 0.802);
}

/* gallery single display */
.section-gallery-single{
    max-width: 80%;
    padding: 2rem;
    margin: 0 auto;
    background-color: yellow;
}


/*contact page*/
.contact-form{
    display:block;
    width: 50vw;
    margin: 0 auto;
}
.rows{
    display:flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content:center;
}

.rows input {
    margin-left: 4rem;
}

/*tiny slider styling */
.slider-container{
    border: 10px solid rgb(8, 7, 39);
}
.slide-item:nth-child(even){
    background-color: black;
}

.slide-item:nth-child(odd){
    background-color: green;
}
.slider-container{
    text-align: center;
}

/* hide the play/stop button  */
.tns-outer button {
    display:none !important;
}