*{
    margin:0; padding:0; box-sizing:border-box;
}

body {
    letter-spacing: 1px;
}
a{
    padding: 2px;
    color: rgb(60, 7, 165);
}
a:hover {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 4px;
}

#menu, #menu_new {
    display: flex;
    z-index:+999;
}

.logo {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 1rem;
}

#menu_new .logo{
    flex-direction: row;
}

.logo span {
    color: white;
    background-color: rgba(32, 31, 11, 0.589);
    border-radius: 20px;
    padding: 0.1rem 0.8rem;
    margin: 0.3rem;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
}

.follow {
    display: flex;
    justify-content: space-evenly;
}

.follow a {
    margin: 0 0.2rem;
    padding: 0.3rem;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.follow a:hover {
    color: rgba(243, 209, 16, 0.849);
}

#nav ul, #nav_new ul {
    list-style: none;
    background-color:rgba(32, 31, 11, 0.589);
    
}

#nav ul li a, #nav_new ul li a {
    color: white;
    text-transform: uppercase;
}

#nav ul li a:hover, #nav_new ul li a:hover {
    color: rgba(243, 209, 16, 0.849);
}

@media screen and (max-width:391px) {
    .logoText {
        display: none;
    }
   
}

@media screen and (max-width:490px) {
    .mobileNavbar span {
        font-size: 0.9rem;
    }
    #mobileLogo {
        height: 2rem;
        width: 2rem;
    }
}

@media screen and (max-width:769px) {
    #header_image figcaption{
        color: white;
        font-family: 'Big Shoulders Stencil Display', cursive;
        font-size: 1.4rem;
        background-color:rgba(0, 0, 0, 0.847);
        padding: 1rem;
    }
    .logo {
        margin-bottom: 2rem;
    }
    .logo img {
        height: 5rem;
        width: 7rem;
    }
    .follow {
        margin: 0.7rem 0;
    }
    #hamburgerButton {
        color: white;
    }
    .slideFromTop {
        top:0px !important;
    }

    #menu, #menu_new {
        position: absolute;
        background-color: rgba(190, 189, 178, 0.939);
        left: 0;
        width: 100vw;
        height: 100%;
        top:-1000px;
        transition: top 0.5s ease-in-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #menu_new {
        margin: 0; padding: 0;
        position:relative;
    }

    .mobileNavbar {
        padding: 0.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: rgb(2, 0, 36);
    }
    .mobileNavbar span {
        font-size: 1.2rem;
        font-weight: 200;
        color: black;
        background-color: rgba(190, 189, 178, 0.849);
        border-radius: 20px;
        padding: 0.1rem 0.8rem;
        margin: 0.3rem;
        text-transform: uppercase;
    }
    #mobileLogo {
        height: 4rem;
        width: 4rem;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 10px;
    }
    #mobileNavCross {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.451);
    }
    #nav, #nav_new {
        width: 100%;
        padding: 5px;
    }
    
    #nav ul, #nav_new ul {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
    #nav ul li a, #nav_new ul li a {
        font-size: 2rem;
    }
}

@media screen and (min-width:769px) {
    #header_image_id{
    position:relative;
}
#header_image_id img{
    width: 100%;
    max-width: 100%;
    max-height: 50vh;
    object-fit:cover;
}

#header_image figcaption{
    position:absolute;
    top: 60%;
    /* left: 50%; */
    z-index: +9;
    color: white;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 2.4rem;
    /* transform: translate(-50%, -30%); */
    background-color:black;
    padding: 1rem;
    width:100%;
}
    #menu{
        position: absolute;
    }
    #menu_new{
        position:relative;
        background-color:black;
    }
    #menu, #menu_new {
        justify-content: space-around;
        align-items: center;
        justify-items: center;
    }
    .logo img {
        height: 5rem;
        width: 7rem;
        background-color: rgba(255, 255, 255, 0.583);
        border-radius: 10px;
    }
    .logo span {
        font-size: 1.5rem;
    }
    #nav ul, #nav_new ul {
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }
    #nav ul li, #nav_new ul li {
        padding: 0.6rem 0.5rem;
    }
    #nav ul li a, #nav_new ul li a  {
        font-size: 1.4rem;
        margin: 0rem 0.5rem;
        padding: 0 0.8rem;
    }    
    #nav .menu-primary-container ul > li > ul {
        position:absolute;
        top: 6rem;
    }
    #nav_new .menu-primary-container ul > li > ul {
        position:absolute;
        top: 4rem;
    }

    
    /* submenu */
    #menu-primary > li > ul > li > ul{
        position:absolute;
        left: 10rem;
        top:0;
    }
    #mobileNavCross {
        display: none;
    }
    .mobileNavbar {
        display: none;
    }
}


/* end of media query */



/*main page content*/
.main-article{
    width: 100%;
    max-width: 100%;
    overflow-x:hidden;
    text-align:left;
}


/* modifying visibility on hover submenus  */
#nav ul li > ul, #nav_new ul li > ul {
    display:none;
	position:absolute;
}
#nav ul li:hover > ul, #nav_new ul li:hover > ul{
    display:block;
    z-index:+9;
}



/* styling for 404 page */
.image-container{
    position:relative;
    text-align:center;
}

.image-container img{
    width:100%;
    height: 80vh;
    object-fit:cover;
}

.image-container h2{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 5rem;
    background-color:rgba(53, 53, 22, 0.815);
    width: 80%;
}

.image-container p {
    position:absolute;
    font-size: 2rem;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(37, 24, 24);
    background-color:rgb(221, 221, 204);
    width: 80%;
}

/* breadcrumbs */
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb a {
    color: #428bca;
    text-decoration: none;
}


/* homepage styling posts */
.title_and_description{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.section_title h2{
    font-size: 4rem;
    color:white;
}

.section_description p {
    text-align:center;
    font-weight: 400;
    color:white;
}

.post-card-body{
    padding: 1.2rem 0.8rem;
    background-color:rgb(243, 209, 16);
}
.post-card-body-title{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.6rem;
    font-weight: 800;
}
.post-card-body-excerpt{
    background-color:white;
    padding: 2rem 0;
}
.post-card-body > span{
    font-family:cursive;
    font-size:0.7rem;
}

.post-card-overlay{
    padding:1rem;
}
.post-card-badge{
    top: 2px;
    right:0;
    background-color:rgb(56, 43, 6);
    color:rgb(245, 238, 238);
}
.post-card-badge span a {
    color:white;
    text-transform:capitalize;
}
.post-card-image img{
    height: 256px;
    object-fit:cover;
}
a.homepage-read-more{
    background-color:rgb(193 97 97);
    border-radius:9px;
    color:white;
}
.homepage-read-more:hover{
    color:yellow;
}

/*responsive navigation */
#header_new{
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: +9;
}

/*styling section-gallery*/
.section-gallery, .section-podcasts{
    background-color: rgb(243, 209, 16);
}

.section-blogs, .section-videos{
    background-color: rgba(20, 26, 22, 0.939);
}

/* gallery single display */
.section-gallery-single{
    max-width: 80%;
    padding: 2rem;
    margin: 0 auto;
    background-color: yellow;
}


/*contact page*/
.contact-form{
    display:block;
    width: 50vw;
    margin: 0 auto;
}
.rows{
    display:flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content:center;
}

.rows input {
    margin-left: 4rem;
}


/* hide the play/stop button  */
.tns-outer button {
    display:none !important;
}


/*styling comments section*/
.comments-section{
    background-color: rgb(243, 209, 16);
    padding: 1rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.comment-respond{
    background-color:rgba(235, 228, 228, 0.589);
    padding: 1rem;
    max-width: 80%;
}

#reply-title{
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 3rem;
}
#commentform p{
    font-weight: 800;
    display:flex;
    flex-direction: column;
}



/*pagination */
.pagination_links{
    display:flex;
    justify-content:center;
    margin:1rem auto;
    /* width: 60vw; */
}

.pagination_links > *{
    padding: 1rem;
    background-color: rgb(211, 124, 10);

}


/*footer styling*/
#footer{
    background-color:rgb(19, 19, 6);
    padding: 1rem;
    text-align:center;
    color:rgb(238, 224, 224);
    text-transform:uppercase;
    letter-spacing:2px;
}
#footer span{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2rem;
}

#footer > span a {
    color: white;
}
#footer > span a:hover{
    color:red;
}

.footer-navigation{
    background-color:rgb(20, 9, 9);
    padding: 4rem;
}

.footer-nav-section > h2{
    text-align:left;
    font-family: 'Big Shoulders Stencil Display', cursive;

}

.footer-nav-section > ul {
    list-style:none;
    text-align:left;
}

/*footer category styling */
#footer-categories > .categories, #footer-categories > .categories ul {
    list-style:none;
    color:white;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 2rem;
    padding: 0.8rem 0;

}
#footer-categories > .categories ul{
    display:flex;
    flex-wrap:wrap;
}
#footer-categories > .categories ul li {
    color:white;
    padding: 0.6rem;
}
#footer-categories > .categories ul li a {
    color:white;
    padding: 0.5rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.8rem;

}
#footer-categories > .categories ul li a:hover{
    color: rgb(243, 209, 16);
}

/*subscription widget*/

.tnp-widget form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 0.5rem 0;
}
.tnp-field label {
    color: white !important;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size:1.3rem !important;
}

.widget-title{
    color: white !important;
}

.widget-wrapper{
    color:white !important;
}

#footer-subscription{
    padding: 2rem 0.5rem;
    background-color: rgba(82, 76, 76, 0.576);
    text-align:center;
}


/*search bar*/
.search-bar{
    width: 100%;
    min-width: 40vw;
    max-width: 100vw;
    margin: 0 0 0 auto;
    padding: 0 0.4rem;
    background-color:black;
}

.search-bar form{
    width: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: stretch;
}

.search-bar #searchInput{
    padding: 1rem;
    flex-grow:1;
    background-color:rgba(0, 0, 0, 0.965);
    color:rgb(251, 251, 251);
}

@media screen and (min-width:769px) {
    .search-bar{
        width: 50%;
        position:absolute;
    }
}