body {
	/* margin: 0; padding:0; */
	font-size: 18px;
}

header {
	background-color:red;
	padding: 0.1rem;
}

header h2 {
	color:white;
}

footer {
	background-color:red;
}

footer h2 {
	color: white;
	font-family: monospace;
	font-size: 1rem;
}
