body {
	/* margin: 0; padding:0; */
	font-size: 18px;
}



footer {
	background-color:red;
}

footer h2 {
	color: white;
	font-family: monospace;
	font-size: 1rem;
}

#menu-main-menu{
	display:flex;
	list-style: none;
	justify-content: space-around;
}